<div class="slider__item">
	<a class="slider__link" href="{{ link }}" title="{{ title }}">
		<img class="slider__image" src="{{ image }}" alt="{{ title }}">
		<div class="slider__content align-{{ align }}">
			<h2 class="slider__heading">{{ heading }}</h2>
			<p class="slider__text">{{ text }}</p>
			<p class="slider__cta">{{ cta }}</p>
		</div>
	</a>
</div>
